.TodoListItem {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  //번갈아서 색갈 변경
  &:nth-child(even) {
    background-color: #e0e0e0;
  }
  .checkbox {
    cursor: pointer;
    flex: 1; // 차지할 수 있는 영역 모두 차지
    display: flex;
    align-items: center;
    color: #cbc693;
    svg {
      font-size: 1rem;
    }
    .text {
      margin-left: 0.5rem;
      flex: 1;
      color: white;
    }
    &.checked {
      svg {
        color: #cbc693;
        text-decoration: line-through;
      }
    }
  }
  .remove {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    &:hover {
      color: #cbc693;
    }
  }
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
